.card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 0.2fr;
  color: var(--color-primary);
  gap: 1rem;
}
.imgage {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  height: 3.75rem;
  width: 3.75rem;
}

.content {
  display: grid;
  align-content: center;
}

.chevron {
  display: grid;
  align-content: center;
  justify-items: end;
  stroke: var(--color-primary);
}

.addButton {
  padding-left: 2rem;
  all: unset;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  stroke: var(--color-primary);
}

li {
  list-style-type: none;
}
