.chevronLeft {
  stroke: var(--color-primary);
}

.home {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.35rem 0 1.5rem 0.5rem;
}

.image {
  width: 3.75rem;
  border-radius: 50%;
}

.imageBack {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 1rem 1.5rem 1rem;
}

.breadCrumbs {
  width: 100%;
  display: flex;
  gap: 1rem;
  padding: 4.05rem 0.5rem 1.5rem 0.5rem;
}

.detailsHeader {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background: linear-gradient(
    to bottom,
    hsl(249.23, 14.29%, 17.84%) 0%,
    hsla(249.23, 14.29%, 17.84%, 0.99) 8.1%,
    hsla(249.23, 14.29%, 17.84%, 0.963) 15.5%,
    hsla(249.23, 14.29%, 17.84%, 0.92) 22.5%,
    hsla(249.23, 14.29%, 17.84%, 0.865) 29%,
    hsla(249.23, 14.29%, 17.84%, 0.8) 35.3%,
    hsla(249.23, 14.29%, 17.84%, 0.729) 41.2%,
    hsla(249.23, 14.29%, 17.84%, 0.653) 47.1%,
    hsla(249.23, 14.29%, 17.84%, 0.577) 52.9%,
    hsla(249.23, 14.29%, 17.84%, 0.501) 58.8%,
    hsla(249.23, 14.29%, 17.84%, 0.43) 64.7%,
    hsla(249.23, 14.29%, 17.84%, 0.365) 71%,
    hsla(249.23, 14.29%, 17.84%, 0.31) 77.5%,
    hsla(249.23, 14.29%, 17.84%, 0.267) 84.5%,
    hsla(249.23, 14.29%, 17.84%, 0.24) 91.9%,
    hsla(249.23, 14.29%, 17.84%, 0.23) 100%
  );
  height: 16rem;
}

.title {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding: 3.35rem 2rem 1.5rem 2rem;
}

.imageWrapper {
  grid-area: 1 / 1 / 2 / 2;
  z-index: -1;
}

.detailImage {
  width: 100vw;
  background-size: cover;
  object-fit: cover;
  height: 16rem;
}

.back {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.05rem 0.5rem 1.5rem 0.5rem;
}
