.progressBar {
  width: 10rem;
  height: 10rem;
  padding: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
