.progressBar {
  width: 9rem;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 100%;
  gap: 1rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
