@font-face {
  font-family: 'Inter';
  src: url('../app/assets/font/Inter-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: #2a2835;
  --bg-secondary: #5d606d;
  --text-primary: #c2c7d6;
  --color-primary: #12cdf5;
  --color-secondary: #108eaa;
  --font-face: 'Inter', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-face);
}
