* {
  margin: 0;
  color: var(--text-primary);
}

.smallHeadline {
  font-size: 0.8rem;
  font-weight: 700;
}

.mediumHeadline {
  font-size: 1rem;
  font-weight: 700;
}

.largeHeadline {
  font-size: 2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 1rem;
  font-weight: 400;
}
