* {
  margin: 0;
  color: var(--text-primary);
}

.smallHeadline {
  font-size: 0.8rem;
  font-weight: 700;
}

.mediumHeadline {
  font-size: 1rem;
  font-weight: 700;
}

.largeHeadline {
  font-size: 2rem;
  font-weight: 700;
}

.smallLabel {
  font-size: 0.75rem;
  font-weight: 400;
}

.placeholder {
  font-style: italic;
  font-size: 1rem;
}
